tm-machine[state="A"], tm-rules th[data-state="A"], tm-instruction[state="A"]::after { --color: red; }
tm-machine[state="B"], tm-rules th[data-state="B"], tm-instruction[state="B"]::after { --color: lime; }
tm-machine[state="C"], tm-rules th[data-state="C"], tm-instruction[state="C"]::after { --color: blue; }
tm-machine[state="D"], tm-rules th[data-state="D"], tm-instruction[state="D"]::after { --color: yellow; }
tm-machine[state="E"], tm-rules th[data-state="E"], tm-instruction[state="E"]::after { --color: magenta; }
tm-machine[state="F"], tm-rules th[data-state="F"], tm-instruction[state="F"]::after { --color: cyan; }
tm-machine[state="H"], tm-rules th[data-state="H"], tm-instruction[state="H"]::after { --color: black; }
