tm-machine {
	position: relative;
	left: calc(var(--position) * var(--symbol-width));
	width: var(--symbol-width);

	--duration: calc(var(--transition) * 1ms / 3);
	transition: left var(--duration) 0ms, color var(--duration) var(--duration);
}
