tm-scene {
	--symbol-width: 30px;
	--transition: 1000;

	&[skin=plain] {
		font-family: monospace;
		--symbol-width: 1ch;

		tm-machine {
			white-space: pre;
			&::before { content: attr(state) "\A"; }
			&::after { content: "↓"; }
			&[state=A] { color: red; }
			&[state=B] { color: green; }
		}

		// FIXME rules

		tm-tape {
			height: 1.2em;
		}

		tm-symbol {
			&::before { content: attr(value); }
		}
	}

	&[skin=robot] {
		--symbol-width: 1em;
		font-size: 30px;

		tm-machine::before {
			content: "🤖";
		}

		tm-symbol {
			transition: filter 500ms;
			&::before { content: "💡"; }
			&[value="0"] { filter: grayscale(1); }
		}
	}

	&[skin=circle] {
		tm-machine {
			width: var(--symbol-width);
			height: var(--symbol-width);
			border-radius: 50%;
			border: 3px solid black;
			background-color: currentColor;

			&[state=A] { color: red; }
			&[state=B] { color: green; }
		}
	}
}
