tm-machine {
  position: relative;
  left: calc(var(--position) * var(--symbol-width));
  width: var(--symbol-width);
  --duration: calc(var(--transition) * 1ms / 3);
  transition: left var(--duration) 0ms, color var(--duration) var(--duration);
}
tm-rules {
  text-align: center;
}
tm-rules table {
  border-collapse: collapse;
}
tm-rules td {
  border: 1px solid #000;
}
tm-rules thead td:first-child {
  border-left: none;
  border-top: none;
}
tm-rules .active {
  font-weight: bold;
}
tm-tape {
  position: relative;
  width: var(--symbol-width);
}
tm-tape tm-symbol {
  position: absolute;
  left: calc(var(--position) * var(--symbol-width));
}
tm-scene {
  --symbol-width: 30px;
  --transition: 1000;
}
tm-scene[skin=plain] {
  font-family: monospace;
  --symbol-width: 1ch;
}
tm-scene[skin=plain] tm-machine {
  white-space: pre;
}
tm-scene[skin=plain] tm-machine::before {
  content: attr(state) "\A";
}
tm-scene[skin=plain] tm-machine::after {
  content: "↓";
}
tm-scene[skin=plain] tm-machine[state=A] {
  color: red;
}
tm-scene[skin=plain] tm-machine[state=B] {
  color: green;
}
tm-scene[skin=plain] tm-tape {
  height: 1.2em;
}
tm-scene[skin=plain] tm-symbol::before {
  content: attr(value);
}
tm-scene[skin=robot] {
  --symbol-width: 1em;
  font-size: 30px;
}
tm-scene[skin=robot] tm-machine::before {
  content: "🤖";
}
tm-scene[skin=robot] tm-symbol {
  transition: filter 500ms;
}
tm-scene[skin=robot] tm-symbol::before {
  content: "💡";
}
tm-scene[skin=robot] tm-symbol[value="0"] {
  filter: grayscale(1);
}
tm-scene[skin=circle] tm-machine {
  width: var(--symbol-width);
  height: var(--symbol-width);
  border-radius: 50%;
  border: 3px solid black;
  background-color: currentColor;
}
tm-scene[skin=circle] tm-machine[state=A] {
  color: red;
}
tm-scene[skin=circle] tm-machine[state=B] {
  color: green;
}
