tm-machine {
  transition: all var(--duration) var(--duration), left var(--duration);
  position: relative;
  left: calc(var(--position) * var(--symbol-width));
  width: var(--symbol-width);
  text-align: center;
}
tm-rules {
  text-align: center;
}
tm-rules table {
  border-collapse: collapse;
}
tm-rules th,
tm-rules td {
  padding: 0;
  border: 1px solid #333;
}
tm-rules thead th {
  border-bottom-width: 2px;
}
tm-rules th:first-child {
  border-right-width: 2px;
}
tm-rules thead th:first-child {
  border-left: none;
  border-top: none;
}
tm-rules td {
  transition: all var(--duration);
}
tm-rules td.current {
  box-shadow: inset 0 0 0.5em dodgerblue;
}
tm-rules:not([editable]) button {
  display: none;
}
tm-tape {
  position: relative;
  width: var(--symbol-width);
}
tm-tape tm-symbol {
  position: absolute;
  left: calc(var(--position) * var(--symbol-width));
}
tm-symbol {
  width: var(--symbol-width);
  text-align: center;
}
tm-runtime {
  --symbol-width: 30px;
  --transition: 1000;
  --duration: calc(var(--transition) * 1ms / 3);
}
tm-runtime *,
tm-runtime *::before,
tm-runtime *::after {
  box-sizing: border-box;
}
tm-runtime[skin=plain] {
  --symbol-width: calc(1ch + 2px);
  font-family: monospace;
  line-height: 1.25;
}
tm-runtime[skin=plain] tm-machine {
  white-space: pre;
}
tm-runtime[skin=plain] tm-machine::after {
  content: "\A↓";
}
tm-runtime[skin=plain] tm-tape {
  height: calc(1.25 * 1em);
}
tm-runtime[skin=robot] {
  --symbol-width: 1.2em;
}
tm-runtime[skin=robot] tm-rules tm-direction {
  margin: 0 0.2em;
}
tm-runtime[skin=robot] tm-rules tm-state {
  display: inline-block;
}
tm-runtime[skin=robot] tm-machine,
tm-runtime[skin=robot] tm-state {
  filter: drop-shadow(0 0 3px var(--color));
}
tm-runtime[skin=robot] tm-machine[state=H],
tm-runtime[skin=robot] tm-state[value=H] {
  transform: rotate(90deg);
}
tm-runtime[skin=robot] tm-symbol {
  transition: filter var(--duration);
}
tm-runtime[skin=robot] tm-symbol[value="0"] {
  filter: grayscale(1);
}
tm-runtime[skin=robot] tm-tape {
  height: 1.5em;
}
tm-runtime[skin=fire] {
  --symbol-width: 1.2em;
}
tm-runtime[skin=fire] tm-machine,
tm-runtime[skin=fire] tm-state {
  filter: drop-shadow(0 0 3px var(--color));
}
tm-runtime[skin=fire] tm-symbol[value="1"] {
  filter: hue-rotate(180deg);
}
tm-runtime[skin=fire] tm-tape {
  height: 1.5em;
}
tm-runtime[skin=circle] tm-machine,
tm-runtime[skin=circle] tm-state {
  width: var(--symbol-width);
  height: var(--symbol-width);
  border-radius: 50%;
  border: 3px solid black;
  background-color: var(--color);
}
tm-controls {
  display: flex;
}
tm-controls button {
  line-height: 1.25;
}
tm-machine[state=A],
tm-state[value=A] {
  --color: red;
}
tm-machine[state=B],
tm-state[value=B] {
  --color: lime;
}
tm-machine[state=C],
tm-state[value=C] {
  --color: blue;
}
tm-machine[state=D],
tm-state[value=D] {
  --color: yellow;
}
tm-machine[state=E],
tm-state[value=E] {
  --color: magenta;
}
tm-machine[state=F],
tm-state[value=F] {
  --color: cyan;
}
tm-machine[state=H],
tm-state[value=H] {
  --color: black;
}
